/*-------------------------*/
/*-----------PAGE----------*/
/*-------------------------*/

$contentWidth: 80%;
$yellow: #fde931;
// $yellow: #ffe706;

.page {
  visibility: hidden;
  font-family: "Source Serif Pro", serif;
  &.visible {
    visibility: visible;
  }
}

.active_btn {
  transform: scale(1.05);
}
